{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-custom p-4">
            <h3 class="mb-3">Add Category</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label fw-bold">Name</label>
                    {{ form.name }}
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'category_list' %}" class="btn btn-secondary me-2">Cancel</a>
                    <button type="submit" class="btn btn-success">Save Category</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}